.mifondo{
    background-color: white;
}

.mifondo2{
    background-color: #e4a12c;
}

.mifondo3{
    background-color: white;
    margin-left: 40px;
}

.fondo{
    background-image: url("../imagenes/fondo.jpg");
    background-position: center center;
    background-size: cover;
}



.historia{
    color: black;
}