.mifondo{
    background-color: white;
}

.mifondo2{
    background-color: #e4a12c;
}

.mifondo3{
    background-color: white;
    margin-right: 30px;
}

.fondo{
    background-image: url("../imagenes/fondo.jpg");
    background-position: center center;
    background-size: cover;
    background-size: auto;
}

.fondo2{
    background-image: url("../imagenes/fondo2.jpg");
    background-position: center center;
    background-size: cover;
    background-size: auto;
}

.fondo3{
    background-image: url("../imagenes/fondo3.jpg");
    background-position: center center;
    background-size: cover;
    background-size: auto;
}

.historia{
    color: black;
}

.tabla{
    border: 10px;
    border-radius: 10px;
}

.fondovisa{
    background-color: #4CB2DB;
}